@tailwind base;
@tailwind components;
@tailwind utilities;

#alert {
  animation: ping 1s cubic-bezier(0, 0, 0.2, 1) forwards;
}

@keyframes ping {
  75%,
  100% {
    transform: scale(2);
    opacity: 0;
  }
}
